@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 163 255 234;
    --primary-dark: 0 157 121;
    --secondary: 45 49 72;
    --secondary-light: 56 61 88;
    --secondary-border: 79 87 129;
    --darker: 22 24 36;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #4f5781;
  width: 5px;
}
